Django==3.0.6
drf-spectacular==0.9.13 
drf-yasg==1.17.1
parameterized==0.7.4
PyHamcrest==2.0.2
pylint==2.6.0
PyMySQL==0.10.0
rstr==2.2.6
setuptools==50.0.0.zip
urllib3==1.25.9
wheel==0.34.2
djangorestframework==3.11.0
