django-addons==2.0.1
drf-yasg==1.17.0
filprofiler==0.10.0
line_profiler==3.0.2
logilab-common==1.5.2
radon==4.1.0
wxPython==4.0.7
markdown==3.2.1
pylint==2.2.2
django>=3.2.15 # not directly required, pinned by Snyk to avoid a vulnerability
djangorestframework>=3.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
