Django
drf-spectacular
drf-yasg
djangorestframework
parameterized
PyHamcrest
pylint
PyMySQL
rstr
setuptools
urllib3
wheel
pylint-django
django-auth-ldap
django-mptt
packaging
pika
django-cryptography
django-jazzmin
xmltodict
requests
responses
retry
eiffel-pythonlib
flasgger
flask
flask-simpleldap
jsonschema
lxml
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
